@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Noto Sans JP', sans-serif !important;
        font-weight: 400;
    }
}

/* xs */
html {
    font-size: 13px;
}

/* sm */
@media (min-width: 640px) {
    html {
        font-size: 14px;
    }
}

/* md */
@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

/* lg */
@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

/* xl */
/* @media (min-width: 1280px) {
  html {
    font-size: 17px;
  }
} */

/* 2xl */
/* @media (min-width: 1536px) {
  html {
    font-size: 18px;
  }
} */

body {}